<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="student_layout/base::layout(~{::section})">

<section>
    <div class ="container">
        <div class = "row">
            <h1> List Students </h1>
        </div>

        <div class = "row">
            <div class = "col-lg-3">
                <a th:href = "@{/student/create}" class = "btn btn-primary btn-sm mb-3"> Add Student</a>
            </div>
        </div>

        <table class = "table table-striped table-bordered">
            <thead class = "table-dark">
            <tr>
                <th> Student First Name</th>
                <th> Student Last Name</th>
                <th> Student Email </th>
                <th> Actions </th>
            </tr>
            </thead>

            <tbody>
                <tr th:each = "student: ${students_all_obj}">
                    <td th:text = "${student.firstName}"></td>
                    <td th:text = "${student.lastName}"></td>
                    <td th:text = "${student.email}"></td>
                    <td>
                        <a th:href = "@{/student/edit/{id}(id=${student.id})}"
                           class = "btn btn-primary">Update</a>

                        <a th:href = "@{/student/{id}(id=${student.id})}"
                           class = "btn btn-danger">Delete</a>

                    </td>
                </tr>
            </tbody>

        </table>

    </div>
</section>
</html>