<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(navbar_content, main_content)">

<head>
    <meta charset="ISO-8859-1">
    <title>E-Learniverse</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/ramos_style.css}"/>
</head>

<body>

<!-- Common header for all pages -->
<div th:replace="${navbar_content}">
    <!-- Child templates will fill this block -->
</div>

<!-- Content block to be filled by child templates -->
<section th:fragment="${content}">
    <!-- Child templates will fill this block -->
</section>

<!-- Common footer for all pages -->
<footer>
    <p>&copy; 2023 My Website</p>
</footer>

</body>
</html>
