<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base_fragment::layout(~{::header}, ~{::section})">

<header>

</header>

<section>

    <!-- ======= Login Form ======= -->
    <div class="container custom-style-container">
        <h1>Registration Player Page</h1>

        <form th:action="@{/create-player}" method="post" th:object="${player}">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:field="*{name}" required>
            <br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:field="*{email}" required>
            <br>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" th:field="*{password}" required>
            <br>

            <label for="jerseyNumber">Role:</label>
            <input type="text" id="role" name="jerseyNumber" th:field="*{role}" required>
            <br>

            <label for="age">Age:</label>
            <input type="number" id="age" name="age" th:field="*{age}" required>
            <br>


            <label for="jerseyNumber">Jersey Number:</label>
            <input type="number" id="jerseyNumber" name="jerseyNumber" th:field="*{jerseyNumber}" required>
            <br>

            <button type="submit">Create Player</button>
        </form>
    </div>


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Note</h3>
            <p>It is a Website for Education Purpose. Total UI of this website is Not Built From Scratch.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
</section>

</html>
