<!-- index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base_fragment::layout(~{::header}, ~{::section})">

<header>
    <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="/create-player">Create Player</a></li>
        <li><a class="nav-link scrollto" href="/player/about">About Players</a></li>
        <li><a class="nav-link scrollto" href="create/footballclub">Create Football Club</a></li>
        <li><a class="nav-link scrollto " href="/flexbox-tutorial/horizontal">Learn FlexBox</a></li>
        <li><a class="nav-link scrollto " href="/learn-celery-tutorial/theory">Learn Celery</a></li>
        <li><a class="nav-link scrollto " href="/notification/registered_users_info">Send Notification</a></li>

        <!--  *******************Navbar  Login, LogOut, SignOut Contents *************************-->
        <!--        {% if user.is_authenticated %}-->
        <!-- User is authenticated, show authenticated content -->
        <!--        <li class="dropdown"><a href="#"><span></span>Welcome Ramos!<i class="bi bi-chevron-down"></i></a>-->
        <!--            <ul>-->
        <!--                <li><a class="nav-link scrollto" href="{% url 'user_changepass' %}">Change Password</a></li>-->
        <!--                <li><a class="nav-link scrollto" href="{% url 'user_changepass_without_oldpass' %}">Forget Password</a></li>-->
        <!--                <li><a class="nav-link scrollto" href="{% url 'user_logout' %}">Log Out</a></li>-->
        <!--            </ul>-->
        <!--        </li>-->
        <!--        {% else %}-->
        <!-- User is not authenticated, show login/register links -->
        <li class="dropdown"><a href="#"><span></span>Sign Up/Login<i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a class="nav-link scrollto " href="/register/signup">Sign Up</a></li>
                <li><a class="nav-link scrollto " href="/register/login">Log In</a></li>
            </ul>
        </li>
        <!--        {% endif %}-->
        <!-- ********************************************-->

    </ul>

    <i class="bi bi-list mobile-nav-toggle"></i>
</header>

<section>
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" th:style="'background-image: url(' + @{/img/slide/slide-1.jpg} + ');'">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">About Page of
                                <span>Logged In Player</span></h2>
                            <p class="animate__animated animate__fadeInUp">It is a self-learning basic project where all the learning materials (Flexbox, Docker, Docker-compose etc.) are used</p>
                            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                                More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <!--                <body th:style="'background-image:url('@{/img/slide/slide-2.jpg} + ');'">-->
                <div class="carousel-item" th:style="'background-image: url(' + @{/img/slide/slide-2.jpg} + ');'">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Learn About Flexbox</h2>
                            <p class="animate__animated animate__fadeInUp">You can see all types of Flexbox Tutorials and also
                                copy and paste code from the section
                            </p>
                            <a href="{% url 'learn_flexbox_horizontal' %}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                                More</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->

                <div class="carousel-item" th:style="'background-image: url(' + @{/img/slide/slide-3.jpg} + ');'">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Learning Django REST API with Create Player</h2>
                            <p class="animate__animated animate__fadeInUp">It is used for learning purpose of
                                Django REST Framework. First Create a Player. Then you can easily access all the
                                players information from the Public API
                            </p>
                            <a href="/create/player" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read
                                More</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <h3>Note</h3>
            <p>It is a Website for Education Purpose. Total UI of this website is Not Built From Scratch.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
</section>

</html>
